﻿@charset "utf-8";
/* CSS Document */

/* reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li,
blockquote, pre, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, section, summary, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
	list-style-position:inside;
}

/* pre */
pre { font-family: consolas, monospace; }

p, h1, h2, h3, h4, h5, h6, ol, ul, li {margin:0; }
li { margin:auto; }

/* Miscellaneous Classes */
.clear { clear:both; }
.left { float:left; }
.right { float:right; }

/* Main */
header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

body, p {
    line-height: 1.25;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1em;
	padding:0 0 .75em 0;
}
body {
	background:url(../images/33-60_bgPerl.svg) ;
	border-top:.5em solid #FF7BAC;
}

header, footer, section, #Gallery { margin:0 auto; min-width:300px; width:80%; }
section, #Gallery, footer { border:thin solid #e6e6e6; background:#fff;}
header {padding:1.25em 0 0 0;}


/* Link States */
a:link, a:visited { color:#009999; text-decoration:none; }
a:hover { color:#66CC33; text-decoration:none; }


/* Navigation */
nav {
	color:#fff;
	font-weight:bold;
	text-align:center;
	margin:1em 0 0 0;
	float:right;
}
nav a:link, nav a:visited {
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	background:#009999;
	border-radius:.25em;
	margin:1em 0 1em .5em;
	padding:1em;
	text-align:center;
}
nav a:active, nav a:hover { color:#fff; background:#66CC33; }
nav ul {
	list-style-type:none;
	margin:.5em 0 .5em 0;
	line-height:3.5;
}
nav li { display:inline-block;}


/* Headings */
h1, h2, h3, h4, h5, h6 { font-weight: bold; color:#B0C3CC;font-family: Georgia, Cambria, "Times New Roman", Times, serif}

h1 { font-size: 3.5em; text-align:center; letter-spacing:-.03em; padding:.2em 0 0 0; font-weight:normal;}
h2 { font-size: 3em; }
h3 { font-size: 2.5em;  }
h4 { font-size: 2em; letter-spacing:-.025em; }
h5 { font-size: 1.5em; }
h6 { font-size: 1em; padding:0.15em 0 0 0;}

footer ul {
	list-style-type:none;
	padding:1em;
	font-size:.75em;
}
footer li {
	display:inline-block;
	padding:0 .75em 0 0;
}

/* About */
.about {
	padding:1.5em 2em 1.5em 2em;
	margin:auto 0;
}
.about p {max-width:60em;}

.linkButtons {
    list-style:none;
}

.linkButtons li {
    display:inline-block;
}

.linkButtons a, .linkButtons a:visited {
    display:inline-block;
	padding:.75em;
	margin:.25em;
	background:#009999;
	color:#fff;
	font-weight:bold;
	border-radius:.5em;
	text-decoration:none;
}
.linkButtons a:hover {background:#66CC33;}

.skills {
	background: #e6e6e6;
	padding:1em 3em 1em 1em;
	margin:0 .5em 1.5em 1.5em;
	float:right;
	display:inline;
	list-style-image:url(../images/16-16_checkmark.svg);
	border-radius:.5em;
	line-height:1.4;
	white-space: nowrap;
}


/* Contact */
.contact {
	margin:0 auto;
	padding:1.5em 2em 1.5em 2em;
	min-width:200px;
	max-width:30em;
}
form {
	padding:1em;
	margin:0 auto;
	border:thin solid #B0C3CC;
	border-radius:.5em;
}

label, input, textarea {
	display:block;
	font:inherit;
	margin:0.5em 0 0 0;
}

input, textarea {
	margin:0 1em 1em 0;
	width:98%;
	border-radius:.25em;
	padding:.25em;
	background:#e6e6e6;
}

textarea { min-height:6.5em; }

input:focus, textarea:focus {
	border:thin solid #66cc33;
}

#submit {
	padding:.75em;
	background:#009999;
	color:#fff;
	font-weight:bold;
	border-radius:.5em;
	width:10em;
	cursor:pointer;
}
#submit:hover {background:#66CC33;}


/*Thumbnails Gallery*/
ul.gallery, .gallery {
	list-style-type:none;
	margin:0 auto;
	text-align:center;
	padding:2em 0.25em 1em 0.25em;
}

ul.gallery li {
    display:inline-block;
}
.gallery a:link, a:visited {
	padding:1em 1em 2em 1em;
	margin:0 .25em .25em 0;
	border:thin solid #fff ;
	text-decoration:none;
	color:#009999;
	text-align:left;
    display: inline-block;
}

.gallery a:hover, .gallery a:active {
	background:#e6e6e6;
	text-decoration:none;
	box-shadow:.25em .25em .5em #ccc;
	border:thin solid #ccc;
	color:#66CC33; 
}
.current {border:thin solid #ccc !important;}



/* Detail Gallery */
.detail {
	margin:1.5em;
	padding:1.5em;
	text-align:center;
}
.detail ul { margin:0 auto;}
.detail li {
	list-style:none;
	color:#999;
	text-align:center;
}
.detail iframe, .imgH, .imgV {
	min-width:200px;
	margin:1em 0 0 0;
}
.imgH { width:100%;}
.imgV {	width:50%;}

.divider { 
	border-top:thin dotted #999;
	margin:0 2em 0 2em;
}